html {
	background-color: #f1f5f9;
	font-family: sans-serif;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 80ch;
	padding: 1.5rem 1rem;
	line-height: 1.75;
}

* {
	box-sizing: border-box;
}

h1 {
	margin: 1rem 0;
	font-size: 2.5rem;
}

/* estilos de la barra de navegación */
.menu-toggle {
	background-color: #f1f5f9;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
	cursor: pointer;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #17181C;
}

.nav-links a:hover,
.nav-links a:focus {
	background-color: #072446;
	color: #f1f5f9;
}

:has(.menu-toggle[aria-expanded="true"]) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {
	nav {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.menu-toggle {
    display: none;
  }
	
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
		font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
}

html.dark, /* Aquí se define la clase .dark en el elemento html */
.dark .menu-toggle {
  background-color: #17181C;
	color: #f1f5f9;
}

.dark .nav-links a,
.dark .nav-links a:hover,
.dark .nav-links a:focus, 
.dark .greeting-message {
	color: #f1f5f9;
}
