.greeting-container {
  text-align: center;
  padding: 1.25rem 1.25rem 0;
  margin: 0 auto;
  max-width: 500px;
}

.greeting-message {
  color: #17181C;
  font-size: 1.8rem;
  margin: 0 0 1.25rem;
}

.greeting-button {
	background-color: #6c757d;
	background-color: #072446;
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.greeting-button:hover {
	background-color: #5a6268;
	background-color: #0d0950;
}